/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

.mypara {
  @apply text-red-500 bg-amber-400 hover:text-orange-400 hover:bg-slate-400;
}

th,
td {
  min-width: 100px;
  text-align: center;
  padding: 10px 0;
}

.formInput {
  @apply border-slate-300 border w-full outline-none rounded p-2 my-2;
}

/* form.ng-invalid.ng-touched {
  @apply border-red-500;
} */
form.ng-valid.ng-touched {
  @apply border-green-500;
}

input.ng-valid.ng-touched {
  @apply border border-green-500;
}
input.ng-invalid.ng-touched {
  @apply border border-red-500;
}

input {
  @apply border border-slate-300 rounded w-full p-2;
}

form button:disabled {
  @apply bg-slate-300 text-black border-none cursor-not-allowed;
}

.error {
  @apply text-xs text-red-500;
}
