/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

.mypara {
  @apply text-red-500 bg-amber-400 hover:text-orange-400 hover:bg-slate-400;
}

th,
td {
  min-width: 100px;
  text-align: center;
  padding: 10px 0;
}
